
html{
    box-sizing: border-box;
    background-color: black
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #e2e8f0;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}

.main-layout{
    width: 100%;
    height: auto;
    background-color: #e2e8f0;
    display: grid;
    grid-template-rows: clamp(10px, 20%, 125px) 6fr;
    grid-template-columns: clamp(150px, 15%, 175px) 4fr;
}

.header{
    grid-column: 2 / -1;
    grid-row: 1;
    background-color: white;
    padding-left: 30px;
    padding-right: 50px;
    display: grid;
    grid-template: 1.5fr 2fr /4fr 2fr;
}


/* .header{
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: white;
    padding-right: 50px;
    display: grid;
    grid-template: 1.5fr 2fr /1fr 2.5fr 1fr;
    border: 3px solid purple;
}
.header-bottom-right, .header-top-right{
    grid-column: 3 ;
}
.header-bottom-left, .header-top-left{
    grid-column: 2 ;
} */

.header-top-left{
    align-items: center;
}

.header-bottom-left{
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 15px;
}

#logo-large{
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.logo-name-bot#logo-name-bot{
    justify-self: start;
    font-size: 1.0rem;
}

.h-item{
    align-content: center;
    justify-content: center;
}

.header-top-right.h-item {
    display: flex;
    padding-left: 45px;
    padding-right: 10px;
    /* grid-template-columns: 2fr 2fr 3fr; */
    /* grid-template-rows:  1px; min(min-content, 1fr); */
    /* gap: 15px; */
    /* justify-items: end; */
    gap: 5px;
    justify-content: space-between;
}

#bell{
    width: 1.2rem;
    height: auto;
    align-self: center;
}

#logo-small{
    width: 1.75rem;
    aspect-ratio: 1 / 1;
    align-self: center;
}

#logo-name-top, #logo-name-bot{
    font-size: .85rem;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    font-weight: bold;
}

.header-bottom-right{
    /* display: grid; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

button{
    background-color: #1992d3;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* font-weight: bold; */
    /* width: minmax(10px, 75px); */
    max-width: 200px;
    min-width: 80px;
    max-height: 300px;
}

input{
    width: 80%;
    height: 1.75rem;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #e2e8f0;
    align-self: center;
}

.sidebar{
    background-color: rgb(25,146,211);
    color: white;
    display: grid;
    grid-column: 1;
    grid-row: 1 / -1;   
    /* grid-auto-flow: column; */
    /* grid-template-rows: 0.9fr 6fr 12fr; */
    grid-template: 5rem 15rem 1rem / 1fr 6fr;
    grid-auto-flow: column;
    padding-left: 15px; 
    padding-right: 15px; 
    margin-bottom: 20px; 
    /* height: 100%; */
}

.top-sidebar,.mid-sidebar,.bottom-sidebar{
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr 6fr; */
    padding-top: 7px;
}

#dashboard-logo{
    width: 2rem;
    aspect-ratio: 1 / 1;
    align-self: start;
    grid-column: 1;
}

a#dashboard-text{
    font-size: 1.2rem;
    font-weight: bold;
    align-self: start;
    justify-self: left;
    padding-left: 10px;
    grid-column: 2;
    padding-top: 5px;
    margin: 0px;
    text-decoration: none;
    color: white;
    
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 15px;
    padding-left: 5px;
    padding: 0px;
    height: 2rem;
}
li a.icon-text{
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

li .icon-logo{
    width: 1.6rem;
    padding-left: 10px;
}


.main-content{
    /* grid-row: 2 / -1; */
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 15px;
    display: grid;
    gap: 15px;
    grid-template: 1.75rem 1fr / 2fr 1fr;
}

div.projects{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    gap: 15px;
}

div.project-item{
    /* border: 1px solid blue; */
    border-left: 5px solid orange;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    /* display: grid; 
    grid-template-rows: 1em 2fr 1em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item p{
    justify-self: start;
    color: green;
    align-self: start;
}

.project-icon-container{
    align-self: end;
    display: flex;
    gap: 15px;
}

.project-item .project-icon{
    width: 1.0rem;
    aspect-ratio: 1 / 1;
}

div.projects-title,div.announcements-title{
    align-self: end;
    font-weight: bold;
 } 

 .announcements-and-trending{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    grid-template-rows:  min-content 1.75rem min-content;
 }

 .announcements-container{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: min-content;
    display: flex;
    flex-direction: column;
 }

 .trending-container{
    background-color: white;
    padding: 0px 15px;
    border-radius: 10px;
    /* display: grid;
    grid-template-rows: repeat(auto-fill, min(1fr, .5rem)); */
    display: flex;
    flex-direction: column;
    height: min-content;
 }

 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
 }

 .announcements-and-trending p, .announcements-and-trending strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
 }

 .trending{
    align-self:end;
    font-weight: bold;
 }

 .trending-items{
    display: flex;
    gap: 15px;
    align-items: center;
 }

 .prof-pics{
    /* width: 1rem; */
    height: 1.8rem;
    aspect-ratio: 1 / 1;
 }

 footer{
    border-radius: 2px;
    align-self: center;
    justify-self: center;
    background-color: black;
    color: white;
    width: 100vw;
    height: 15rem;
    text-align: center;
    /* position: sticky;
    bottom: 5px; */
 }